h1 {
  color: $positive;
}
.container button {
  align-content: center;
}
.rastreamento {
  border: 1px solid black;
  text-align: center;
}
.status-entregue {
  color: green;
}
.status-pendente {
  color: black;
}
.cadastro {
  width: 100vh;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .cadastro {
    width: 100vw;
  }
}
.rastreamento:hover {
  background-color: $secondary;
}
.container {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0px;
  padding: 0px;
}

.titulo {
  font-weight: bold;
  color: $secondary;
}

.formulario {
  width: 600px;
  text-align: center;
}
